.hero {
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

.logo {
  padding: 2rem;
  width: 45%;
}

.hero-img {
  display: flex;
}

.page-content {
  /* display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-evenly; */
  text-align: center;
  padding: 2rem;
}

.page-title {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 14px;
  text-transform: uppercase;
  line-height: 1.1;
  color: hsl(0, 36%, 70%);
}
.page-title > span {
  display: block;
  font-weight: 600;
  letter-spacing: 0.28em;
  color: hsl(0, 6%, 24%);
  margin-top: 0.4rem;
  margin-bottom: 1.6rem;
}

.page-description {
  font-size: 0.9rem;
  line-height: 1.4;
  color: hsl(0, 36%, 70%);
  margin-bottom: 3rem;
}

form {
  position: relative;
}

.form-input input {
  padding: 1rem;
  width: 100%;
  border-radius: 50rem;
  border: 1px solid hsl(0, 36%, 70%);
  outline: none;
  font-size: 1rem;
  line-height: 1.4rem;
  color: hsl(0, 6%, 24%);
  background: transparent;
}

.form-input input::placeholder {
  color: hsl(0, 36%, 70%);
}

.form-alert input[type="email"] {
  border-color: hsl(0, 93%, 68%);
}

.error-icon {
  position: absolute;
  display: flex;
  top: 0;
  right: 5rem;
  height: 3.5rem;
  align-items: center;
  display: none;
}

.submit-btn {
  position: absolute;
  cursor: pointer;
  border-radius: 50rem;
  right: 0;
  top: 0;
  height: 3.5rem;
  width: 4.5rem;
  border: none;
  box-shadow: 0px 10px 20px 2px hsla(0, 36%, 70%, 0.466);
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  transition: all 300ms ease-in-out;
}

.submit-btn > img {
  margin: 0 auto;
}

.submit-btn:hover {
  background-image: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsla(0, 52%, 80%, 0.781)
  );
  box-shadow: 0px 20px 20px 5px hsla(0, 36%, 70%, 0.6);
}

.error-alert {
  text-align: left;
  font-weight: 400;
  font-size: 0.8rem;
  color: hsl(0, 93%, 68%);
  margin: 0.5rem;
  display: none;
}

@media (min-width: 1440px) {
  .logo {
    grid-area: logo;
    padding: 6rem 0 0 31rem;
  }

  .logo img {
    position: absolute;
    height: 2rem;
  }

  .hero {
    grid-area: hero;
  }

  .page-content {
    grid-area: page-content;
    padding: 1rem 20rem;
  }

  .page-title {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 4rem;
    padding-left: 11rem;
  }

  .page-description {
    text-align: left;
    font-size: 1rem;
    padding-left: 11rem;
  }

  .form-input {
    padding-left: 11rem;
  }

  .error-alert {
    margin-left: 12rem;
  }
}
